<h1> Name: <%= @fan_group.group_name %> </h1>

<h1> Category: <%= @fan_group.category %> </h1>

<h1> Price: <%= @fan_group.price %> $</h1>

<h1> Size of the group: <%= @fan_group.size %> </h1>

<h1> Description: <%= @fan_group.description %> </h1>


