<div class="profile">

  <div class="profile-description">
    <h3> <strong> <%= @fan_group.group_name %> </strong> </h3>

    <p> Category: <%= @fan_group.category %> </p>

    <p> Price: <%= @fan_group.price %>€ per booking</p>

    <p> Size of the group: <%= @fan_group.size %> </h4>

    <p> "<i><%= @fan_group.description %>" </i> <p>
    <p> <strong> Create a new booking: </strong> </p>



          <div class="form">
          <%= simple_form_for([@fan_group, @booking]) do |f| %>
          <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :time, as: :string, required: false, input_html: {class: "datepicker-nocalendar"} %>
          <%= f.input :location, input_html: {id: "booking_address"}  %>
          <%= f.submit "Submit a booking", class: "btn btn-primary" %>
          <% end %>


        </div>
    </div>

    <div class="profile-picture">
        <%= cl_image_tag(@fan_group.photo)%>
    </div>
</div>

  </div>



<%= javascript_pack_tag "autocomplete_pack" %>
