<h2>Create a new booking:</h2>

<%= simple_form_for(@booking) do |f| %>
<%= f.text_field :date %>
<%= f.text_field :time %>
<%= f.text_field :location %>
<%= f.text_field :fan_group_id %>
<%= f.submit "Submit a booking", class: "btn btn-primary" %>

<% end %>

