<div class="navbar-wagon">

    <%= link_to '/', class: "navbar-wagon-brand" do %>
    <%= image_tag "Fan-Logo.svg" %>
  <% end %>

    <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "Home", '/', class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Register", "/users/sign_up", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Log-in", "/users/sign_in", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>


</div>
